* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #F6F6C9;
  color: #153462;
}

h1 {
  font-weight: 900;
  font-size: 5rem;
  margin-bottom: 10px;
}

#info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#info div {
  padding: 3rem;
  margin: 0.5rem;
  border-radius: 10px;
  color: #153462;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  border: 2px solid #153462;
  cursor: pointer;
  transition: color 0.2s linear, background-color 0.2s linear, border 0.2s linear;
}

#info div:hover {
  background-color :#153462 ;
  color: #F6F6C9;;
}
